body {
    background-color: #666;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chat {
    background-color: #309707;
    margin: 0 auto;
    text-align: center; 
    border: 1px solid;
    border-radius: 15px;
    width: 15%;
    height: 100%;
}
.join {
    background-color: #309707;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    width: 300px;
}
#messages {
    font-size: 20px;
    list-style: none;
    text-align: left;
}
button {
    margin-bottom: 5px;
}
